@font-face {
  font-family: 'OpenSansHebrew';
  src: local('OpenSansHebrew'),
    url('../assets/fonts/OpenSansHebrew-Regular.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrewBold';
  src: local('OpenSansHebrewBold'),
    url('../assets/fonts/OpenSansHebrew-Bold.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrewLight';
  src: local('OpenSansHebrewLight'),
    url('../assets/fonts/OpenSansHebrew-Light.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSansHebrewItalic';
  src: local('OpenSansHebrewItalic'),
    url('../assets/fonts/OpenSansHebrew-Italic.ttf') format('truetype');
  font-weight: normal;
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}
